<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet">
    <link href="static/css/dashboard.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/chat.css">
    <link rel="stylesheet" href="static/css/home.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body >
    <div class="container">
      <aside>
        <div  class="top">

          <div class="logo">
            <img src="/static/images/333514-P9VYMX-448-removebg-preview.png">
            <h2><span class="primary">SI</span><span class="danger">VAC</span></h2>
          </div>

          <div class="close" id="close-btn">
            <span class="material-icons-sharp">chevron_left</span>                                                        
          </div>
        </div>

          <div class="sidebar">
            <a href="#" class="active">
              <span class="material-icons-sharp">grid_view</span>
              <h3>DASHBOARD</h3>
            </a>
            <a href="{{url_for('attendance')}}">
              <span class="material-icons-sharp">engineering</span>
              <h3>EMPLOYEE</h3>
            </a>
            <a href="{{url_for('machines')}}">
              <span class="material-icons-sharp">mark_as_unread</span>                
              <h3>Machines</h3>
              <!-- <span class="message-count">25</span> -->
            </a>
            <a href="#">
              <span class="material-icons-sharp">logout</span>                
              <h3>LOGOUT</h3>
            </a>
          </div>        
      </aside>

















      <main>
        <h1>DASHBOARD</h1>

        <div class="date">
          <input type="date">
        </div>

        <div class="insights">
          <div class="sales">
            <span class="material-icons-sharp">analytics</span>
            <div class="middle">
              <div class="left">
                <h3>Total Sales</h3>
                <h1>$25,024</h1>
              </div>
              <div class="progress">
                <svg>
                  <circle cx="38" cy="38" r="36"></circle>
                </svg>
                <div class="number">
                  <p>81%</p>
                </div>
              </div>
            </div>
            <small class="text-muted">Last 24 Hours</small>
          </div>
            <!-----END OF SALES ---->
          <div class="expenses">
            <span class="material-icons-sharp">bar_chart</span>
            <div class="middle">
              <div class="left">
                <h3>Total Expenses</h3>
                <h1>$14,160</h1>
              </div>
              <div class="progress">
                <svg>
                  <circle cx="38" cy="38" r="36"></circle>
                </svg>
                <div class="number">
                  <p>62%</p>
                </div>
              </div>
            </div>
            <small class="text-muted">Last 24 Hours</small>
          </div>
            <!-----END OF EXPENSES ---->
          <div class="income">
              <span class="material-icons-sharp">stacked_line_chart</span>
              <div class="middle">
                <div class="left">
                  <h3>Total Income</h3>
                  <h1>$10,854</h1>
                </div>
                <div class="progress">
                  <svg>
                    <circle cx="38" cy="38" r="36"></circle>
                  </svg>
                  <div class="number">
                    <p>44%</p>
                  </div>
                </div>
              </div>
              <small class="text-muted">Last 24 Hours</small>
          </div>
              <!-----END OF INCOME ---->
        </div>
              <!-----END OF INSIGHTS ---->

        <div class="recent-orders">
          <h2>RECENT ORDERS</h2>
          <table>
            <thead>
              <tr>
                <th>Product Name</th>
                <th>Product Number</th>
                <th>Payment</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Foldable Mini Drone</td>
                <td>85631</td>
                <td>Due</td>
                <td class="warning">Pending</td>
                <td class="primary">Details</td>
              </tr>
              <tr>
                <td>Foldable Mini Drone</td>
                <td>85631</td>
                <td>Due</td>
                <td class="warning">Pending</td>
                <td class="primary">Details</td>
              </tr>
              <tr>
                <td>Foldable Mini Drone</td>
                <td>85631</td>
                <td>Due</td>
                <td class="warning">Pending</td>
                <td class="primary">Details</td>
              </tr>
              <tr>
                <td>Foldable Mini Drone</td>
                <td>85631</td>
                <td>Due</td>
                <td class="warning">Pending</td>
                <td class="primary">Details</td>
              </tr>
              <tr>
                <td>Foldable Mini Drone</td>
                <td>85631</td>
                <td>Due</td>
                <td class="warning">Pending</td>
                <td class="primary">Details</td>
              </tr>
            </tbody>
          </table>
          <a href="#">Show All</a>
        </div>
      </main>  
      <!-- =========END OF MAIN============= -->

      <div class="right">
        <div class="top">
          <button id="menu-btn">
            <span class="material-icons-sharp">menu</span>
          </button>
          <div class="theme-toggler">
            <span class="material-icons-sharp active">light_mode</span>
            <span class="material-icons-sharp">nights_stay</span>    
          </div>
          <div class="profile">
            <div class="info">
              <p>Hey, <b>Danel</b></p>
              <small class="text-muted">Admin</small>
            </div>
            <div class="profile-photo">
              <img src="/static/images/profile-picture.png">
            </div>
          </div>
        </div>
        <!-- END OF TOP -->
        <div class="recent-updates">
          <h2>Recent Updates</h2>
          <div class="updates">
            <div class="update">
              <div class="profile-photo">
                <img src="static/images/profile-picture.png">
              </div>
              <div class="message">
                <p><b>Mike</b> received this order
                </p>
                <small class="text-muted">2 Minutes Ago</small>
              </div>
            </div>
            <div class="update">
              <div class="profile-photo">
                <img src="static/images/profile-picture.png">
              </div>
              <div class="message">
                <p><b>Bean</b> received this order
                </p>
                <small class="text-muted">2 Minutes Ago</small>
              </div>
            </div>
            <div class="update">
              <div class="profile-photo">
                <img src="/static/images/profile-picture.png">
              </div>
              <div class="message">
                <p><b>Peter</b> received this order
                </p>
                <small class="text-muted">2 Minutes Ago</small>
              </div>
            </div>
          </div>
        </div>
        <!-- =============END OF RECENT UPDATES======== -->
        <div class="sales-analytics">
          <h2>Sales Analytics</h2>
          <div class="item online">
            <div class="icon">
              <span class="material-icons-sharp">shopping_cart</span>               
            </div>
            <div class="right">
              <div class="info">
                <h3>ONLINE ORDERS</h3>
                <small class="text-muted">Last 24 Hours</small>
              </div>
              <h5 class="success">+39%</h5>
              <h3>3849</h3>
            </div>
          </div>
          <div class="item offline">
            <div class="icon">
              <span class="material-icons-sharp">local_mall</span>               
            </div>
            <div class="right">
              <div class="info">
                <h3>OFFLINE ORDERS</h3>
                <small class="text-muted">Last 24 Hours</small>
              </div>
              <h5 class="danger">-17%</h5>
              <h3>1100</h3>
            </div>
          </div>
          <div class="item cutomers">
            <div class="icon">
              <span class="material-icons-sharp">person</span>               
            </div>
            <div class="right">
              <div class="info">
                <h3>NEW CUSTOMERS</h3>
                <small class="text-muted">Last 24 Hours</small>
              </div>
              <h5 class="success">+25%</h5>
              <h3>849</h3>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
    </div>
    <!-- Chat box -->
    <div class="container">
      <div class="chatbox">
          <div class="chatbox__support">
              <div class="chatbox__header">
                  <div class="chatbox__image--header">
                      <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                  </div>
                  <div class="chatbox__content--header">
                      <h4 class="chatbox__heading--header">Chat support</h4>
                      <p class="chatbox__description--header">Hi. My name is Sam. How can I help you?</p>
                  </div>
              </div>
              <div class="chatbox__messages">
                  <div></div>
              </div>
              <div class="chatbox__footer">
                  <label for="Speech Recognition"></label>
                  <input type="text"  placeholder="Write a message..." id="speechToText" onclick="record()">
                  <script>
                    function record() {
                        var recognition = new webkitSpeechRecognition();
                        recognition.lang = "en-GB";
            
                        recognition.onresult = function(event) {
                            document.getElementById('speechToText').value = event.results[0][0].transcript;
                        }
                        recognition.start();
            
                    }
                </script>
                  <button class="chatbox__send--footer send__button" id="text-to-send">Send</button>
              </div>
          </div>
          <div class="chatbox__button">
              <button><img src="{{ url_for('static', filename='images/chatbox-icon.svg') }}" /></button>
          </div>
      </div>
  </div>
    
    <script type="text/javascript">
      var $SCRIPT_ROOT = '{{ request.script_root|tojson|safe }}';
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='index.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='voice.js') }}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
  </body>
</html>
