<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet">
    <link href="static/css/dashboard.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/chat.css">
    <link rel="stylesheet" href="static/css/home.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="/static/css/machines.css" rel="stylesheet">
    <link href="/static/css/dashboard.css" rel="stylesheet">
  </head>
  <body >
    <div class="container">
      <aside>
        <div  class="top">

          <div class="logo">
            <img src="/static/images/333514-P9VYMX-448-removebg-preview.png">
            <h2><span class="primary">SI</span><span class="danger">VAC</span></h2>
          </div>

          <div class="close" id="close-btn">
            <span class="material-icons-sharp">chevron_left</span>                                                        
          </div>
        </div>

          <div class="sidebar">
            <a href="{{url_for('index')}}">
              <span class="material-icons-sharp">grid_view</span>
              <h3>DASHBOARD</h3>
            </a>
            <a href="{{url_for('attendance')}}">
              <span class="material-icons-sharp">engineering</span>
              <h3>EMPLOYEE</h3>
            </a>
            <a href="{{url_for('machines')}}"  class="active">
              <span class="material-icons-sharp">mark_as_unread</span>                
              <h3>Machines</h3>
              <!-- <span class="message-count">25</span> -->
            </a>
            <a href="#">
              <span class="material-icons-sharp">logout</span>                
              <h3>LOGOUT</h3>
            </a>
          </div>        
      </aside>

















      <main>
        <h1>DASHBOARD</h1>

        <div class="date">
          <input type="date">
        </div>

        <div class="insights">
          <div class="sales">
            <span class="material-icons-sharp">analytics</span>
            <div class="middle">
              <div class="left">
                <h1>WEAVING</h1>
              </div>
                <div class="numberS">
                  <input type="image" src="/static/images/weaving image.jpg" name="submit" width="100" height="48" alt="submit">  
                </div>
              </div>
              <button id="myBtn">CLICK HERE</button>
              <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                  <div class="modal-header">
                    
                    <h2>THREAD TENSION</h2>
                  </div>
                  <div class="modal-body">
                    <p>Thread Tension=-5.2</p>
                    <p>Stop the machine!</p>
                  </div>
                  <div class="modal-footer">
                    <h3>Thank You!</h3>
                  </div>
                </div>
              
              </div>
              <small class="text-muted">Last 24 Hours</small>
            </div>
           
          </div>
            <!-----END OF SALES ---->
          
              <!-----END OF INCOME ---->
        </div>
              <!-----END OF INSIGHTS ---->

        
      <!-- =========END OF MAIN============= -->

      <div class="right">
        <div class="top">
          <button id="menu-btn">
            <span class="material-icons-sharp">menu</span>
          </button>
          <div class="theme-toggler">
            <span class="material-icons-sharp active">light_mode</span>
            <span class="material-icons-sharp">nights_stay</span>    
          </div>
          <div class="profile">
            <div class="info">
              <p>Hey, <b>Danel</b></p>
              <small class="text-muted">Admin</small>
            </div>
            <div class="profile-photo">
              <img src="/static/images/profile-picture.png">
            </div>
          </div>
        </div>





















        
        <!-- END OF TOP -->
        <div class="recent-updates">
          <h2>Recent Updates</h2>
          <div class="updates">
            <div class="update">
              <div class="profile-photo">
                <img src="/static/images/profile-picture.png">
              </div>
              <div class="message">
                <p><b>Mike</b> received this order
                </p>
                <small class="text-muted">2 Minutes Ago</small>
              </div>
            </div>
            <div class="update">
              <div class="profile-photo">
                <img src="/static/images/profile-picture.png">
              </div>
              <div class="message">
                <p><b>Bean</b> received this order
                </p>
                <small class="text-muted">2 Minutes Ago</small>
              </div>
            </div>
            <div class="update">
              <div class="profile-photo">
                <img src="/static/images/profile-picture.png">
              </div>
              <div class="message">
                <p><b>Peter</b> received this order
                </p>
                <small class="text-muted">2 Minutes Ago</small>
              </div>
            </div>
          </div>
        </div>
        <!-- =============END OF RECENT UPDATES======== -->
        
      </div>
    </div>
      <div>
        <!-- Chat box -->
    <div class="container">
      <div class="chatbox">
          <div class="chatbox__support">
              <div class="chatbox__header">
                  <div class="chatbox__image--header">
                      <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                  </div>
                  <div class="chatbox__content--header">
                      <h4 class="chatbox__heading--header">Chat support</h4>
                      <p class="chatbox__description--header">Hi. My name is Sam. How can I help you?</p>
                  </div>
              </div>
              <div class="chatbox__messages">
                  <div></div>
              </div>
              <div class="chatbox__footer">
                  <label for="Speech Recognition"></label>
                  <input type="text" placeholder="Write a message..." id="speechToText" onclick="record()">
                  <script>
                    function record() {
                        var recognition = new webkitSpeechRecognition();
                        recognition.lang = "en-GB";
            
                        recognition.onresult = function(event) {
                            document.getElementById('speechToText').value = event.results[0][0].transcript;
                        }
                        recognition.start();
            
                    }
                  </script>
                  <button class="chatbox__send--footer send__button">Send</button>
              </div>
          </div>
          <div class="chatbox__button">
              <button><img src="{{ url_for('static', filename='images/chatbox-icon.svg') }}" /></button>
          </div>
      </div>
  </div>
  
    </div>
      </div>
      <script type="text/javascript"></script>
    <script type="text/javascript">
      var $SCRIPT_ROOT = '{{ request.script_root|tojson|safe }}';
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='responses.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='orders.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='index.js') }}"></script>
    
  </body>
</html>