<!DOCTYPE html>
<html>
<head>
<h1> Attendance Form</h1>
<style>
    .button {
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 15px;
      margin: 40px 50px;
      transition-duration: 0.4s;
      cursor: pointer;
    }
   
   
   
    .button2 {
      background-color: white;
      color: black;
      border: 3px solid #008CBA;
    }
   
    .button2:hover {
      background-color: #008CBA;
      color: white;
    }
   
    </style>
</head>
<body>
<form>
<table>
<tr>
<td>
Employee Name:
</td>

<td>
<input type=”mail”   name=””>
</td>
</tr>
<tr>
<td>
Employee Id:
</td>

<td>
<input type=”Password”  name=””>
</td>
</tr>
       
</table>
    <div id="present">
        <button class="button button2">Present</button>
 
    </div>
 
</body>
</html>
</form>
</body>
</html>