<!DOCTYPE html>
<html>
<head>
<h1> Attendance Form</h1>
<style>
    .button {
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 15px;
      margin: 40px 50px;
      transition-duration: 0.4s;
      cursor: pointer;
    }
   
   
   
    .button2 {
      background-color: white;
      color: black;
      border: 3px solid #008CBA;
    }
   
    .button2:hover {
      background-color: #008CBA;
      color: white;
    }
   
    </style>
</head>
<body>
  <form action="{{ url_for("regatt")}}" method="post">
    <label for="Employee_id">Employee_id:</label>
    <input type="text" name="Empid"  placeholder="Employee_id">

    <label for="Empname">Employee_name:</label>
    <input type="text" name="Employee_name"  placeholder="Enter Name">

    <label for="Status">Status:</label>
    <input type="text" name="Status" placeholder="Enter Name">

    <button type="submit">Present</button>
</body>
</html>
</form>
</body>
</html>